<center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0; padding: 0; background-color: #252d34; color: #414141; height: 100%; width: 100%">
        <tbody>
        <tr>
            <td align="center" valign="top" style="border-collapse: collapse">
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="border-collapse: collapse">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF; border-bottom: 0">
                                <tbody>
                                <tr>
                                    <td class="headerContent" style="border-collapse: collapse; color: #202220; font-family: Arial; font-size: 34px; font-weight: bold; line-height: 100%; padding: 0; text-align: center; vertical-align: middle">
                                        <img id="headerImage" style="max-width: 600px; border: 0px; height: auto; line-height: 100%; outline: none; text-decoration: none; user-select: none" src="http://newsletter.eyeworkers.de/img/newsletter/webinar-header-2020.jpg">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="border-collapse: collapse; background-color: #FFFFFF">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="background-color: #FFFFFF">
                                <tbody>
                                <tr>
                                    <td valign="top" class="bodyContent" style="border-collapse: collapse; background-color: #FFFFFF">
                                        <table border="0" cellpadding="40" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td valign="top" style="border-collapse: collapse; color: #414141; text-align: left">
                                                    <div style="color: #414141; text-align: left">
                                                        <div class="cell">
                                                            <h1>eyeworkers GmbH</h1>
                                                        </div>

                                                        <b>DIGITALAGENTUR FÜR ERFOLGREICHE, WEBBASIERTE LÖSUNGEN.</b>
                                                        <br />
                                                        Wir unterstützen unsere Kunden seit mehr als zwanzig Jahren bei der Konzeption,
                                                        Realisierung und Betreuung komplexer, webbasierter, Anwendungen.
                                                        <br /><br />
                                                        Unsere Stärke liegt darin, dass wir fachliches Know-how bei der Konzeption,
                                                        kreative Köpfe für eine herausragende Benutzerführung und technische Kompetenz bei
                                                        der Umsetzung in einem Team vereinen.
                                                        <br /><br />
                                                        So wird aus Ihrem Projekt eine erfolgreiche Lösung.
                                                        <br /><br /><br />
                                                        <b>ÖFFENTLICHE SEMINARE ODER INHOUSE-SCHULUNGEN</b>
                                                        <br />
                                                        Durch eine Schulung leisten wir Ihrem Entwicklungsteam die notwendige Starthilfe, um schnell und produktiv in
                                                        die Entwicklung einzusteigen und anspruchsvolle Web-Applikationen zu planen und zu entwickeln.
                                                        <br /><br />
                                                        Unsere Schulungen finden entweder bei Ihnen vor Ort oder in Karlsruhe statt. Neben den Standardschulungsinhalten
                                                        gehen wir auch immer auf Ihre individuellen Fragen oder Problemstellungen ein.
                                                        <br /><br />
                                                        Praxisrelevantes Wissen für Ihre Mitarbeiter<br />
                                                        Nach gemeinsamen Projekten vermitteln wir unser eingesetztes Know-How an Ihre Mitarbeiter, sodass
                                                        diese im weiteren Prozess selbständig arbeiten können.
                                                        <br /><br />
                                                        Brauchen Sie eine unterstützende Kraft während eines Ihrer internen Projekte, stehen wir Ihnen
                                                        mit der Schulung Ihrer Mitarbeiter zur Seite.
                                                        <br /><br />
                                                        <br />
                                                        Maßgeschneiderte Konzepte<br />
                                                        Gerne veranstalten wir unternehmensspezifische Schulungen, in denen wir auf die Anforderungen und die
                                                        Bedürfnisse Ihrer Mitarbeiter eingehen.
                                                        <br /><br />

                                                        Strategie und Beratung<br />
                                                        Wir beraten Unternehmen zu Prozessen, Strategien und Maßnahmen für eine erfolgreiche Digitalisierung.​
                                                        <br /><br />
                                                        In Entwicklungsprojekten leisten wir Ihrem Entwicklungsteam mit unseren Schulungen und Workshops die notwendige wesentliche Starthilfe, um schnell und produktiv in die Entwicklung einzusteigen und anspruchsvolle Applikationen zu planen und zu entwickeln.

                                                        <br /><br />
                                                        Wir freuen uns auf Ihre Nachricht!
                                                        <br />
                                                        Ihr Team von der eyeworkers GmbH
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="border-collapse: collapse">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="background-color: #252d34; border-top: 0">
                                <tbody>
                                <tr>
                                    <td valign="top" class="footerContent" style="border-collapse: collapse">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td valign="middle" id="social" style="border-collapse: collapse; background-color: #252d34; border: 0; border-bottom: #535455 1px solid">
                                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: Tahoma; color: #ffffff; line-height: 22px; text-align: left">
                                                                Folgen sie uns auf: <a href="https://www.facebook.com/eyeworkers" class="first-child" style="color: #ffffff; font-size: 13px; font-family: Tahoma; margin-bottom: 0; font-weight: normal; text-decoration: underline" target="_blank" rel="noreferrer">
                                                                <img style="border: 0px; height: auto; line-height: 100%; outline: none; text-decoration: none; display: inline; padding: 0px 5px 0px 20px; user-select: none" src="http://newsletter.eyeworkers.de/img/newsletter/facebook.png"></a>
                                                            </td>
                                                         </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="information" style="padding-top: 15px; padding-bottom: 15px; border-collapse: collapse; border-top: #939495 1px solid; border-bottom: #535455 1px solid">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td width="5">&nbsp;</td>
                                                            <td valign="top" width="160" align="left" style="padding-right: 30px; border-collapse: collapse">
                                                                <a href="http://www.zzzipmail.de" target="_blank" rel="noreferrer"><img style="user-select: none" src="http://newsletter.eyeworkers.de/img/newsletter/sent-with-zzzipmail-weiss.png"></a>
                                                            </td>
                                                            <td valign="top" width="160" align="right" style="border-collapse: collapse"><img style="user-select: none" src="http://newsletter.eyeworkers.de/img/newsletter/sencha-partner-logo.png">
                                                            </td>
                                                            <td width="5">&nbsp;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" id="imprint" width="600" style="border-collapse: collapse; border-top: #939495 1px solid">
                                                    <div style="color: #ffffff; font-family: Tahoma; font-size: 13px; line-height: 22px; text-align: center">
                                                        <p style="font-size: 11px; font-family: Tahoma; color: #ffffff; line-height: 22px; margin: 15px 0">
                                                            © 2022 eyeworkers GmbH | Tel.: +49 (0) 721 18396-0 | <a href="mailto:kontakt@eyeworkers.de" style="color: #ffffff; font-size: 11px; font-family: Tahoma; margin-bottom: 0; font-weight: normal; text-decoration: underline" onclick="return rcmail.command('compose','kontakt@eyeworkers.de',this)" rel="noreferrer">
                                                            kontakt@eyeworkers.de</a> | <a href="https://www.eyeworkers.de/kontakt" style="color: #ffffff; font-size: 11px; font-family: Tahoma; margin-bottom: 0; font-weight: normal; text-decoration: underline" target="_blank" rel="noreferrer">
                                                            Kontakt</a> | <a href="https://www.eyeworkers.de/impressum" style="color: #ffffff; font-size: 11px; font-family: Tahoma; margin-bottom: 0; font-weight: normal; text-decoration: underline" target="_blank" rel="noreferrer">
                                                            Impressum</a></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </td>
        </tr>
        </tbody>
    </table>
</center>